.Error .ashTxt {
  color: #afafaf;
}

.Error .redbtn {
  background-color: red;
  color: white;
  height: 40px;
  width: 200px;
  border: 0px;
  border-radius: 3px;
  margin-top: 10px;
}

.Error .threeLine {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: large;
}

.Error .bigSize {
  font-size: 4em;
  font-weight: 600;
}

.Error .line {
  margin: 20px;
}
